.cart-item-image {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.cart-item-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}