#menu-list-grow {
    transform: none !important;
}

.slick-dots {
    bottom: 10px !important;
    color:white;
}

.slick-list {
    max-height: 400px
}
 
.slick-dots li button:before {
    color: black !important;
    border-radius: 100%;
    background-color: white !important;
  }