#menu-list-grow {
    transform: none !important;
}

.MuiDialogTitle-root-304 {
    margin: 0 auto !important;
}

.MuiFormLabel-root-114.MuiFormLabel-focused-115 {
    color: black !important;
}

.MuiInputBase-input-144:focus {
    outline-color: red !important;
}

.slick-dots {
    bottom: 10px !important;
    color:white;
}

.slick-list {
    max-height: 400px
}
 
.slick-dots li button:before {
    color: black !important;
    border-radius: 100%;
    background-color: white !important;
  }