.header #menu-list-grow {
    transform: none !important;
}

.header .MuiDialogTitle-root-304 {
    margin: 0 auto !important;
}

.header .MuiFormLabel-root-114.MuiFormLabel-focused-115 {
    color: black !important;
}

.header .MuiInputBase-input-144:focus {
    outline-color: red !important;
}

.header .menu-button-container {
    background-color: #e9e9e9;
    padding: 0;
}

.header .menu-button {
    width: 100%;
}

.header .menu {
    position: absolute;
    padding: 0;
    background-color: #e9e9e9;
}

.header .menu ul {
    padding: 0;
    width: 100%;
}

.header .menu-button-container .menu-button {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#alert-dialog-title {
    margin: 0 auto;
}

.header .menu {
    display: none;
}